*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

/* Ajustes del Header-------------------------------------------------- */
.header-container{
    background-color:#1F2937;
}

.header{

   width: 80%;
    order: 1;
    display: flex;
    padding: 25px  0;
    margin:0 auto 50px auto;

}

.logo-header{
    display: flex;
    justify-content: flex-start;
}

.header-links{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.header-links ul{
    list-style: none;
    display: flex;
    gap: 16px;
}


a{
 text-decoration: none;
 color: white;
 font-size: 24px;

}

/* Final Justes del Heaer */


.main-container{
    order: 2;

}


/* Estilos Section 1-------------------------- */

.section1-container{
    background-color: #1F2937;
}

.section1{
    width: 80%;
    display: flex;
    padding: 50 0;
    gap: 40px;
    flex-wrap: wrap;
    margin: 0 auto;

}

.texto-primera-section{
    padding: 10 0;
    justify-content: flex-start;
    flex: 1;
    width: 500px;
    min-width: 400px;
    
    
}

.image-section1{
    justify-content: flex-end;
    padding: 15 0;
    width: 500px;
    flex: 1;
    display: flex;
    margin-bottom: 50px;
}

.image-section1 img{
    justify-content: left;
    flex:1;
}

.boton{
    padding: 10px;
    background-color: #3882f6;
    border-radius: 15px;
    
}



h1{
    font-size: 48px;
    color:#F9faf8 ;
    font-weight: 900;
    margin-bottom:10px ;

}


.texto-primera-section p{
    color:#F9faf8 ;
    padding: 10px 0;
    margin-bottom: 20px;
    font-size: 24px;
    
}

/* Final de Estilos Section 1-------------------------- */



/* Estilos Section 2------------------------------------ */

.section2-container{
background-color:#ffffff;

}



.section2{
  margin: 0 auto;
  width: 80%;
  padding: 50px 0;
  text-align: center;

}

.titulo-section2{
    padding: 15px 0;
    font-size: 28px;
    margin-bottom: 35px;
}

.cards-container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding: 25px 0;
 flex-wrap: wrap;
 gap: 40px;

}


.card{
    width: 250px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 15px;
  
}

.card img{
    flex:1;
    border:5px solid #3882f6;
    border-radius: 10px;
}

/* Final de Estilos Section 2------------------------------------ */



/* Estilos Section 3 */

.section3{
    background-color: #e5e7eb;
    padding: 70px 0;
}

.section3-container{
    width: 80%;
    margin: 0 auto;
}

.frase{
    font-size: 30px;
    font-family: "light italic", sans-serif;
    font-style: italic;
    width: 80%;
    color: #1f2937;
    margin: 0 auto 10px auto;

}

.cita{
    text-align: end;
    width: 80%;
    margin: 0 auto;
    font-size: 22px;

}

/* Final Estilos Section 3 -------------------*/




/* Estilos Section 4 -------------------*/

.section-container{
   background-color: white; 
   margin-bottom: 50px;
}

.section4{
    width: 80%;
    margin: 0 auto;
    padding: 70px 0;
}

.card-section4{
    background-color: #3882f6;
    padding: 20px 20px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    gap: 10px;
}

.text-section4{
    flex: 3;
    flex-basis: 600px;
    padding: 20px;

}

.text-section4 h3{
    margin-bottom: 10px;
}



.boton-section4{
    padding: 5px;
    flex: 1;
    flex-basis: 200px;
    padding: 20px;
    align-content: center;
    justify-content: flex-end;
    
   
   

}

.boton-section4 a{
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;  

}
a:hover{
    background-color: #030303;
    
}





/* Final Estilos Section 4 -------------------*/



.footer{
    order: 3;

}


